services:
  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    networks:
      - web-gateway
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adminer.rule=Host(`adminer.localhost`)"
      - "traefik.http.routers.adminer.entrypoints=websecure"
      - "traefik.http.routers.adminer.tls=true"
      - "traefik.http.services.adminer.loadbalancer.server.port=8080"

networks:
  web-gateway:
    external: true
